---
import { Image } from 'astro:assets';
---

<section>
  <h2
    class="font-mplus font-bold text-xl my-4 underline underline-offset-4 decoration-zinc-400 dark:decoration-zinc-700 decoration-4"
  >
    Created with
  </h2>
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <li class="text-center mb-4">
      <a href="https://nodejs.org/en" class="block">
        <div class="w-full h-80 overflow-hidden border border-slate-300 dark:border-zinc-700 rounded-xl">
          <Image
            class="w-full h-full object-cover"
            src="/banner.png"
            width={720}
            height={320}
            alt="Inkdrop banner"
          />
        </div>
        <div class="mt-3 text-xl">Node js</div>
        <div class="opacity-70">JavaScript runtime environment that lets developers create servers, web apps, command line tools and scripts.</div>
      </a>
    </li>
    <li class="text-center mb-4">
      <a href="https://pptr.dev/" class="block">
        <div class="w-full h-80 overflow-hidden border border-slate-300 dark:border-zinc-700 rounded-xl">
          <Image
            class="w-full h-full object-cover"
            src="/hero.png"
            width={720}
            height={320}
            alt="AstroJS banner"
          />
        </div>
        <div class="mt-3 text-xl">Puppeteer</div>
        <div class="opacity-70">
          Puppeteer is a JavaScript library which provides a high-level API to control Chrome or Firefox over the DevTools Protocol or WebDriver BiDi.
        </div>
      </a>
    </li>
      <li class="text-center mb-4">
      <a href="https://n8n.io/" class="block">
        <div class="w-full h-80 p-5 flex items-center  overflow-hidden border border-slate-300 dark:border-zinc-700 rounded-xl">
          <Image
            class=" object-cover "
            src="/n8n-logo.png"
            width={720}
            height={320}
            alt="AstroJS banner"
          />
        </div>
        <div class="mt-3 text-xl">n8n</div>
        <div class="opacity-70">
Build with the precision of code or the speed of drag-n-drop. Host with on-prem control or in-the-cloud convenience. n8n gives you more freedom to implement multi-step AI agents and integrate apps than any other tool.        </div>
      </a>
    </li>
  </ul>
</section>
